* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.debug {
    border: 1px solid red;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

aside {
    width: 279px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
}

main {
    width: 100%;
}

nav {
    background-color: #0f0f0f;
}

section {
    background-color: #1e1e1e;
}

footer {
    background-color: #121212;
}

.menu-principal {
    display: flex;
    flex-direction: column;
    gap: 40px;

}


.contenedor-menus {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.elemento-menu {
    display: flex;
    gap: 14px;
    align-items: center; 
}

